.dates-container {
  position: relative;
  height: 100%;

  & > button {
    transition: color 400ms ease;
  }

  &::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;

    opacity: 0.25;
    height: 100%;
    width: 1px;

    background-image: linear-gradient(
      transparent,
      var(--theme-secondary),
      transparent
    );
  }
}

.active-event {
  transition: transform 800ms cubic-bezier(0.175, 0.885, 0.32, 1.075);
  background-image: linear-gradient(
    transparent,
    var(--theme-primary),
    transparent
  );

  position: absolute;
  top: 1.8rem;
  right: 0;

  height: 2rem;
  width: 1px;
  z-index: 1;
}
