.about__container {
  position: relative;
  padding: 100px 0;

  display: flex;
  flex-direction: column;

  justify-content: center;

  .bgText {
    position: absolute;
    display: flex;

    color: $fourth;
    left: 5%;
    top: 10%;

    font-size: calc(24px + 10vw);
    pointer-events: none;
    user-select: none;

    font-family: Saira-Medium;

    span {
      animation: bounce 3s ease-in-out infinite alternate;

      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        animation-delay: 0.4s;
      }

      &:nth-child(4) {
        animation-delay: 0.6s;
      }

      &:nth-child(5) {
        animation-delay: 0.8s;
      }
    }
  }

  .about__content {
    height: 100%;
    width: 50%;
    z-index: 1;

    align-self: flex-end;

    .slideshow {
      justify-content: center;
      overflow: hidden;
      display: flex;

      height: 120px;

      // border: 1px solid blue;

      .title {
        user-select: none;
        list-style: none;
        margin: 0;

        font-weight: Bold;
        font-size: 80px;
      }

      ul {
        // border: 1px solid green;
        margin-left: 10px;

        font-weight: bold;
        font-size: 80px;

        animation: slide 4s infinite;
      }
    }
  }
}

@keyframes slide {
  0%, 25% {
    transform: translateY(0%);
  }
  50%, 75% {
    transform: translateY(-100%);
  }
  100%, 0% {
    transform: translateY(0%);
  }
  
}
