@import "./variables.scss";
@import "./general.scss";
@import "./navbar.scss";
@import "./parallax.scss";
@import "./about.scss";
@import "./skills.scss";
@import "./projects.scss";
@import "./more.scss";

ul {
  display: inline-block;
  padding: 0;
  li {
    list-style-type: none;
  }
}

.contentWrap {
  background-color: rgb(15, 15, 15);
  height: 100%;
  width: 100%;
  z-index: 1;
}

section {
  // min-height: $minWindowHeigh;
  text-align: center;
  color: white;

  flex-direction: column;
  display: flex;
  width: 100%;

}

// on desktop
@media screen and (min-width: 1023px) {
  section {
    // min-height: 100vh;
    // height: auto;
  }
}
