@import "./variables.scss";
@import "./general.scss";
@import "./home.scss";
@import "./about.scss";
@import "./timeline.scss";
@import "./skills.scss";
@import "./projects.scss";
@import "./more.scss";

ul {
  display: inline-block;
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

.content__wrap {
  background-color: $primary;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;

  -webkit-clip-path: polygon(50% 0.5%, 100% 0%, 100% 100%, 0 100%, 0 0%);
  clip-path: polygon(50% 0.5%, 100% 0%, 100% 100%, 0 100%, 0 0%);
  margin-top: -100px;
  padding-top: 100px;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 25%;
    top: 0;

    transform: translate3d(-50%, 0, 0);
    background-color: $fourth;
    width: 3px;
  }
}

section {
  text-align: center;
  position: relative;
  color: white;
  width: 100%;
}

.about__bgText,
.skills__bgText,
.projects__bgText {
  transition: all 250ms ease;
  font-family: Saira-Medium;
  font-size: 96px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  user-select: none;

  position: absolute;
  color: $greenTheme;
  display: flex;

  span {
    -webkit-animation: bounce 3s ease-in-out infinite alternate;
    text-shadow: 0 2px 6px rgba(darken($secondary, 5%), 0.15);
    animation: bounce 3s ease-in-out infinite alternate;

    &:nth-child(2) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    &:nth-child(4) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    &:nth-child(5) {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s;
    }
    &:nth-child(6) {
      -webkit-animation-delay: 1s;
      animation-delay: 1s;
    }
    &:nth-child(7) {
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s;
    }
    &:nth-child(8) {
      -webkit-animation-delay: 1.4s;
      animation-delay: 1.4s;
    }
  }

  @-moz-document url-prefix() {
    span {
      -webkit-animation: none;
      animation: none;
    }
  }

  &.isGlowing {
    -webkit-filter: drop-shadow(0px 0px 4px lighten($greenTheme, 20%));
    filter: drop-shadow(0px 0px 4px lighten($greenTheme, 20%));
    color: lighten($greenTheme, 20%);
  }
}

.about__bgText {
  top: -5%;
}

.skills__bgText {
  justify-content: flex-start;
  width: 85%;
  z-index: 1;
  top: -2.5%;
}

.projects__bgText {
  align-self: center;

  &.txt1 {
    top: 5%;
  }

  &.txt2 {
    bottom: 2.5%;

    span {
      -webkit-animation: bounce 3s ease-in-out infinite alternate;
      animation: bounce 3s ease-in-out infinite alternate;

      &:nth-child(1) {
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
      }
      &:nth-child(2) {
        -webkit-animation-delay: 1.7s;
        animation-delay: 1.7s;
      }
      &:nth-child(3) {
        -webkit-animation-delay: 1.9s;
        animation-delay: 1.9s;
      }
      &:nth-child(4) {
        -webkit-animation-delay: 2.1s;
        animation-delay: 2.1s;
      }
    }

    @-moz-document url-prefix() {
      span {
        -webkit-animation: none;
        animation: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .about__bgText {
    left: 7.5%;
  }

  .skills__bgText {
    left: 7.5%;
  }
}

@media (min-width: 481px) {
  .about__bgText {
    align-self: center;
    width: 400px;
    top: -9%;
  }

  .skills__bgText {
    width: 400px;
    top: -4%;
  }

  .about__bgText,
  .skills__bgText,
  .projects__bgText {
    font-size: 118px;
  }
}

@media (min-width: 641px) {
  .about__bgText {
    width: 450px;
    top: -15%;
  }

  .skills__bgText {
    width: 450px;
    top: -5.5%;
  }

  .projects__bgText {
    &.txt1 {
      right: 2.5%;
      top: 7.5%;
    }

    &.txt2 {
      left: 2.5%;
    }
  }

  .about__bgText,
  .skills__bgText,
  .projects__bgText {
    font-size: 142px;
  }
}

@media (min-width: 961px) {
  .content__wrap {
    -webkit-clip-path: polygon(50% 1%, 100% 0%, 100% 100%, 0 100%, 0 0%);
    clip-path: polygon(50% 1%, 100% 0%, 100% 100%, 0 100%, 0 0%);
  }

  .about__bgText {
    justify-content: flex-end;
    top: 25%;

    width: 940px;
  }

  .skills__bgText {
    width: auto;
    left: 15%;
    top: -8%;
  }

  .projects__bgText {
    &.txt1 {
      right: 5%;
    }

    &.txt2 {
      left: 5%;
    }
  }

  .about__bgText,
  .skills__bgText,
  .projects__bgText {
    font-size: 162px;
  }
}

@media (min-width: 1281px) {
  .about__bgText {
    width: 1050px;
  }

  .skills__bgText {
    left: 17.5%;
    top: -4%;
  }

  .projects__bgText {
    &.txt1 {
      top: 12.5%;
    }

    &.txt2 {
      bottom: 5%;
    }
  }

  .about__bgText,
  .skills__bgText,
  .projects__bgText {
    font-size: 188px;
  }
}

@media (min-width: 1441px) {
  .about__bgText {
    width: 1160px;
  }

  .skills__bgText {
    top: -2%;
  }

  .about__bgText,
  .skills__bgText,
  .projects__bgText {
    font-size: 208px;
  }
}

@media (min-width: 1681px) {
  .about__bgText {
    width: 1250px;
  }

  .skills__bgText {
    left: 18%;
    top: 0%;
  }
}

@media (min-width: 1769px) {
  .skills__bgText {
    left: 20%;
  }
}

@-webkit-keyframes bounce {
  100% {
    text-shadow: 0 40px 12px rgba(0, 0, 0, 0.075);
    -moz-transform: translate3d(0px, -30%, 0px);
    transform: translate3d(0px, -30%, 0px);
  }
}

@keyframes bounce {
  100% {
    text-shadow: 0 40px 12px rgba(0, 0, 0, 0.075);
    -moz-transform: translate3d(0px, -30%, 0px);
    transform: translate3d(0px, -30%, 0px);
  }
}
