@font-face {
  src: local("Saira"), url("../fonts/Saira-Regular.ttf") format("truetype");
  font-family: "Saira";
}

* {
  box-sizing: border-box;
  font-family: "Saira";
}

html,
body,
#root,
.app {
  flex-direction: column;
  overflow-x: hidden; // for transform scale (otherwise not necessary)
  min-height: 100%;
  min-width: 300px;
  // display: flex;
  height: auto;
  width: 100%;
  margin: 0;
}

body, #root, .app {
  background-color: $primary;
}

.app {
  overflow: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary;
}

/* Handle */ 
::-webkit-scrollbar-thumb {
  background: $fourth;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($fourth, 5%);
}
