.more__container {
  justify-content: center;
  position: relative;
  padding: 50px 0;
  display: flex;

  z-index: 1;

  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  ul {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 50px;
    display: grid;

    li {
      // margin: 0 15px;

      &[data-link="phone"] a::after {
        content: "+33 7 82 29 80 77";
      }

      &[data-link="email"] a::after {
        content: "kamilmackow98@gmail.com";
      }

      &[data-link="CV"] a::after {
        content: "My CV";
      }

      &[data-link="facebook"] a::after {
        content: "Facebook";
      }

      &[data-link="linkedIn"] a::after {
        content: "LinkedIn";
      }

      &[data-link="github"] a::after {
        content: "GitHub";
      }

      a {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;

        position: relative;
        display: block;
        height: 60px;
        width: 60px;

        text-align: center;
        background: #333;
        font-size: 30px;
        color: #666;

        border-radius: 5px;
        transition: 500ms;

        i {
          transform: translateY(25%);
        }

        &::after,
        &::before {
          transition: transform 200ms ease, opacity 200ms ease;
          position: absolute;
          content: "";
          left: 0;
          top: 0;

          width: 100%;
        }

        &::after {
          transform: translateY(-75%);
          white-space: nowrap;
          content: "";

          justify-content: center;
          pointer-events: none;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          display: flex;

          font-family: Saira-Medium;
          font-size: 16px;
          opacity: 0;

          text-shadow: none;
          color: #777;
        }

        &::before {
          background: lighten(#077e46, 20%);
          transform: scale(0.9);
          border-radius: 5px;
          height: 100%;
          z-index: -1;
        }

        &:hover,
        &:focus {
          text-shadow: 0 0 3px lighten(#077e46, 20%);
          color: lighten(#077e46, 20%);

          &::after {
            transform: translateY(-150%);
            opacity: 1;
          }

          &::before {
            box-shadow: 0 0 15px lighten(#077e46, 20%);
            transform: scale(1.05);
          }
        }
      }
    }
  }
}

@media (min-width: 641px) {
  .more__container {
    ul {
      -moz-column-gap: 0px;
           column-gap: 0px;
      row-gap: 0px;

      display: flex;

      li {
        margin: 0 20px;
      }
    }
  }
}
