#parallax__container {
  position: relative;
  overflow: hidden;
  // display: block;
  height: 800px;

  background-color: $third;
  color: white;

  .layer {
    position: absolute;

    // transform-style: preserve-3d;
    // perspective: 1000px;

    // height: 800px;

    font-size: calc(16px + 1vw);

    left: 5%;
    top: 100px;
  }

  #layer-0 {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;

    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../images/1234.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #layer-1 {
    position: absolute;
  }

  .typed-cursor {
    pointer-events: none;
    user-select: none;
  }

  .typewriter {
    font-family: "Courier New", Courier, monospace;
    white-space: pre-wrap;

    .name,
    .age,
    .location,
    .prop {
      color: #077e46;

      &::selection {
        background-color: rgba($fourth, 0.99);
        color: white;
      }
    }

    &::selection {
      background-color: rgba($fourth, 0.99);
      color: $secondary;
    }
  }
}

/*
#parallaxContainer {
  position: relative;
  max-height: 600px;
  min-height: 600px;
  overflow: hidden;
  display: block;
  height: 600px;
}

// for each layer with images
.layer {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%; // on mobile remove background-size
  min-height: 600px;
  position: fixed;
  height: 600px;
  width: 100%;
}

#layer-0 {
  background-image: url("../images/parallax/background.png");
}

#layer-1 {
  background-image: url("../images/parallax/05.png");
}

#layer-2 {
  background-image: url("../images/parallax/04.png");
}

#layer-3 {
  background-image: url("../images/parallax/03.png");
}

#layer-4 {
  background-image: url("../images/parallax/02.png");
}

#layer-5 {
  background-image: url("../images/parallax/01.png");
}

#layer-6 {
  background-image: url("../images/parallax/spiderman.png");
  background-position: center;
  background-repeat: no-repeat;
}

// arrow pointing down - scroll link to about section
.layer:nth-child(7) > div > div {
  text-shadow: 0px 0px 2px #ffffff, 1px -2px 10px rgba(255, 255, 255, 0.5);
  position: relative;
  cursor: default;
  font-size: 2em;
  top: 90vh;

  & > span {
    -webkit-animation: arrowLink 1.5s infinite;
    animation: arrowLink 1.5s infinite;
    -webkit-transform: rotate(-45deg);
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(-45deg);
    margin-left: -15px;
    position: absolute;
    cursor: pointer;
    height: 30px;
    width: 30px;
    left: 50%;
    top: -65px;
  }
}

@keyframes arrowLink {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@-webkit-keyframes arrowLink {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
*/
