#projects__section {
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
  background-color: $secondary;
}

#projectsContainer {
  pointer-events: none;
  position: relative;
  width: 100%;
}

.projects__item {
  justify-content: center;
  align-items: center;
  display: flex;

  perspective: 1000px;
  width: 100%;
}

/* ------------------------------------------ */
/* ---------------| FLICKITY |--------------- */
/* ------------------------------------------ */

.flickity-button {
  color: rgba(255, 255, 255, 0.25);
  transition: all 250ms ease;
  pointer-events: auto;
  background: none;
  height: 50px;
  width: 50px;

  &:disabled {
    background-color: transparent !important;
    background: none !important;
  }

  &:hover,
  &:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }

  &:hover:not(:disabled) {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    color: rgba(255, 255, 255, 0.8) !important;
    background: none !important;
    outline: none !important;
  }

  &.previous {
    left: -5px;
  }

  &.next {
    right: -5px;
  }
}

/* -------------------------------------- */
/* ---------------| CARD |--------------- */
/* -------------------------------------- */

.card-container {
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  pointer-events: auto !important;
  -moz-transition: transform 1s;
  transform-style: preserve-3d;
  transition: transform 1s;
  border-radius: 5px;
  position: relative;

  height: 600px;
  width: 85%;

  margin: 200px 0px;

  &.isFlipped {
    transform: rotateY(180deg);

    .anim-span {
      transition: all 250ms ease;
      transition-delay: 500ms;
    }

    .anim-span1,
    .anim-span3 {
      transform: translateX(0%) scaleX(1);
      transition-delay: 700ms;
    }

    .anim-span2,
    .anim-span4 {
      transform: translateY(0%) scaleY(1);
    }

    .card {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}

// card front & back
.card {
  box-shadow: inset 0px 0px 12px 5px $fourth;
  border: 3px solid $fourth;
  background-color: $third;
  position: absolute;
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  backface-visibility: hidden;

  &.card__back {
    transform: rotateY(180deg);
    border: none;
  }

  // dark background on click
  &::before {
    transition: transform 300ms ease;
    background: $secondary;
    transform: scaleX(0);
    position: absolute;
    content: "";

    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
  }
}

/* ----------------------------------------- */
/* ---------------| CONTENT |--------------- */
/* ----------------------------------------- */

// scale = (perspective - Z) / perspective

.projects__content {
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(200px) scale(0.8);
  position: relative;
  padding: 0px 30px; // 0px 40px
  font-size: 15px;

  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100%;

  justify-content: flex-end;
}

.projects__title {
  font-family: Saira-Bold;
  letter-spacing: 1px;
  text-align: left;
  align-self: start;
  position: relative;
  font-size: 32px; // 42px

  line-height: 100%;
  margin: 10px 0px;
}

.back .projects__title {
  align-self: start;
  margin-top: auto;
}

.projects__desc {
  -moz-text-align-last: center;
  text-align-last: left;
  text-align: justify;
  line-height: 26px;
}

.face .projects__desc {
  margin: auto 0px;
}

.projects__tech {
  align-self: flex-start;
  text-align: left;
  font-size: 15px;
}

.projects__links {
  margin-bottom: 5px;
  display: flex;
  width: 100%;
}

.projects__link,
.projects__code {
  text-shadow: 0 0 6px transparent;
  transition: all 250ms ease;
  text-decoration: none;
  line-height: 38px;

  font-family: Saira-Medium;
  font-size: 16px;
  color: #666;

  cursor: pointer;
  padding: 0px;
  height: 40px;
  width: 40px;
}

.face .projects__link,
.face .projects__code {
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.1);
  background-color: $primary;
  position: relative;

  margin-right: 10px;
  height: 36px;
  width: 46px;

  justify-content: center;
  align-items: center;
  color: white;
  display: flex;

  font-size: 16px;

  &:hover,
  &:focus {
    color: white;

    span {
      transform: translate3d(-50%, 0%, 0px);
      bottom: calc(100% + 10px);
      opacity: 1;
    }
  }
}

.back .projects__link,
.back .projects__code {
  position: absolute;

  &:hover,
  &:focus {
    text-shadow: 0 0 6px lighten($greenTheme, 20%); //#0cdf7c
    color: lighten($greenTheme, 20%);

    span {
      transform: translate3d(-50%, 0%, 0px);
      opacity: 1;
    }
  }

  &:visited {
    outline: none;
  }
}

.back .projects__link {
  bottom: 15px;
  right: 15px;

  span {
    bottom: 120%;
    transform: translate3d(-50%, 50%, 0px);
  }
}

.back .projects__code {
  left: 15px;
  top: 15px;

  span {
    top: 120%;
    transform: translate3d(-50%, -50%, 0px);
  }
}

.span-label {
  transition: opacity 200ms ease, transform 200ms ease;
  white-space: nowrap;
  position: absolute;
  padding: 0px 15px;
  left: 50%;

  pointer-events: none;
  text-shadow: none;
  font-size: 15px;
  color: white;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0;
}

.face .span-label {
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.1);
  transform: translate3d(-50%, 50%, 0px);
  background-color: $primary;
  bottom: 100%;
  left: 50%;
}

.back .span-label {
  box-shadow: 0px 0px 8px lighten($greenTheme, 20%);
  border: 2px solid lighten($greenTheme, 20%);
  background-color: rgba($secondary, 0.9);
}

/* ---------------------------------------- */
/* ---------------| BUTTON |--------------- */
/* ---------------------------------------- */

.face .card-button {
  margin: 40px 0px;
}

.back .card-button {
  margin-bottom: 40px;
  margin-top: auto;
}

.card-button {
  position: relative;
  background: none;
  color: white;
  border: none;

  overflow: hidden;
  font-size: 15px;

  &:hover,
  &:focus {
    .btn-span1,
    .btn-span2,
    .btn-span3,
    .btn-span4 {
      transform: translate3d(0px, 0px, 0px);
    }
  }

  // animated borders around the button
  .btn-span {
    transition: all 200ms ease;
    background: white;
    position: absolute;
  }

  .btn-span1 {
    transform: translate3d(-110%, 0px, 0px);
  }

  .btn-span3 {
    transform: translate3d(110%, 0px, 0px);
  }

  .btn-span2 {
    transform: translate3d(0px, -110%, 0px);
  }

  .btn-span4 {
    transform: translate3d(0px, 110%, 0px);
  }

  .btn-span1,
  .btn-span3 {
    transition-delay: 200ms;
    height: 2px;
    width: 100%;
  }

  .btn-span2,
  .btn-span4 {
    height: 100%;
    width: 2px;
  }

  .btn-span1,
  .btn-span2 {
    top: 0;
  }

  .btn-span1,
  .btn-span4 {
    left: 0;
  }

  .btn-span2,
  .btn-span3 {
    right: 0;
  }

  .btn-span3,
  .btn-span4 {
    bottom: 0;
  }
}

/* ---------------------------------------------------------- */
/* ---------------| ANIMATED BORDERS ON BACK |--------------- */
/* ---------------------------------------------------------- */

.anim-span {
  transition: all 250ms ease;
  transition-delay: 250ms;

  box-shadow: 0px 0px 8px lighten($greenTheme, 20%);
  background-color: lighten($greenTheme, 20%);
  position: absolute;
  height: 100%;
  width: 100%;
}

.anim-span1,
.anim-span3 {
  height: 3px;
}

.anim-span2,
.anim-span4 {
  width: 3px;
}

.anim-span1 {
  transform: translateX(-75%) scaleX(0);
  left: 0;
  top: 0;
}

.anim-span2 {
  transform: translateY(75%) scaleY(0);
  left: 0;
  top: 0;
}

.anim-span3 {
  transform: translateX(75%) scaleX(0);
  bottom: 0;
  left: 0;
}

.anim-span4 {
  transform: translateY(-75%) scaleY(0);
  right: 0;
  top: 0;
}

@media (min-width: 481px) {
  .card-container {
    height: 560px;
    width: 400px;
  }
}

@media (min-width: 641px) {
  .card-container {
    height: 630px;
    width: 450px;
  }

  .face .projects__link,
  .face .projects__code {
    font-size: 18px;

    height: 40px;
    width: 50px;
  }

  .projects__title {
    font-size: 42px;
  }

  .projects__content {
    padding: 0px 40px;
    font-size: 16px;
  }

  .projects__desc {
    line-height: 30px;
  }

  .projects__tech,
  .span-label,
  .card-button {
    font-size: 16px;
  }

  .face .card-button {
    margin: 60px 0px;
  }

  .back .card-button {
    margin-bottom: 60px;
  }

  .flickity-button {
    &.previous {
      left: 5%;
    }

    &.next {
      right: 5%;
    }
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .card-container {
    height: 588px;
    width: 420px;
  }

  .flickity-button { 
    &.previous {
      left: 10%;
    }

    &.next {
      right: 10%;
    }
   }
}

@media (min-width: 1281px) {
  .card-container {
    height: 700px;
    width: 500px;
  }

  .flickity-button { 
    &.previous {
      left: 15%;
    }

    &.next {
      right: 15%;
    }
   }
}
