/* project container <section> */
#projectsContainer {
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);

  background-color: $secondary;
  pointer-events: none;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    animation: floating 6s ease-in-out infinite alternate;
    position: absolute;
    color: #077e46;
    z-index: -1;

    font-size: calc(24px + 10vw);
    font-family: Saira-Medium;
  }

  &::after {
    content: "Projects";
    left: 10%;
    top: 15%;
  }

  &::before {
    font-size: calc(24px + 8vw);
    animation-duration: 5s;
    animation-delay: 250ms;

    content: "Work";
    bottom: 20%;
    right: 15%;
  }
}

.projects__item {
  justify-content: center;
  align-items: center;
  display: flex;

  perspective: 1000px;
  width: 100%;
}

/* ------------------------------------------ */
/* ---------------| FLICKITY |--------------- */
/* ------------------------------------------ */

.flickity-button {
  color: rgba(255, 255, 255, 0.25);
  transition: all 250ms ease;
  pointer-events: auto;
  background: none;
  height: 50px;
  width: 50px;

  &:hover:not(:disabled) {
    color: rgba(255, 255, 255, 0.8);
    background: none;
  }

  &.previous {
    left: 15vw;
  }

  &.next {
    right: 15vw;
  }
}

/* -------------------------------------- */
/* ---------------| CARD |--------------- */
/* -------------------------------------- */

.card-container {
  pointer-events: auto !important;
  -moz-transition: transform 1s;
  transform-style: preserve-3d;
  transition: transform 1s;
  border-radius: 5px;
  position: relative;

  min-width: 353.57px;
  min-height: 450px;
  margin: 12.5% 0;
  width: 27.5vw;
  height: 35vw;

  height: 700px;
  width: 525px;

  z-index: 10;

  &.isFlipped {
    transform: rotateY(180deg);

    .anim-span {
      transition: all 250ms ease;
      transition-delay: 500ms;
    }

    .anim-span1,
    .anim-span3 {
      transform: translateX(0%) scaleX(1);
      transition-delay: 800ms;
    }

    .anim-span2,
    .anim-span4 {
      transform: translateY(0%) scaleX(1);
    }

    .card {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}

// card front & back
.card {
  box-shadow: inset 0 0 15px 2px rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background-color: $primary;
  position: absolute;
  height: 100%;
  width: 100%;

  &.card__back {
    transform: rotateY(180deg);

    .skewed-border {
      transform: skew(20deg, -20deg) translateZ(-2.5vw) scale(0.9);
    }
  }

  // dark background on click
  &::before {
    transition: transform 300ms ease;
    background: $secondary;
    transform: scaleX(0);
    position: absolute;
    content: "";

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
}

/* ----------------------------------------- */
/* ---------------| CONTENT |--------------- */
/* ----------------------------------------- */

.projects__content {
  -webkit-font-smoothing: subpixel-antialiased;
  transform: translateZ(10vw) scale(0.8);
  // perspective: inherit !important;
  justify-items: center;
  align-items: center;
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;

  font-size: 16px;

  &.face {
    grid-template-rows: 0.5fr 0.75fr 10% 10%;
  }

  &.back {
    grid-template-rows: 1fr 10% 10%;
  }
}

.projects__wrap {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  align-self: flex-end;

  height: 90%;
  width: 80%;

  hr {
    width: 50%;
    margin: 20px 0;
  }
}

.projects__title {
  font-size: 28px;
  align-self: end;
  width: 80%;
}

.projects__tech {
  padding: 0 10%;
  height: 50%;
  width: 80%;

  div {
    margin-bottom: 20px;
  }
}

.projects__date {
  font-size: 16px;
}

.projects__desc {
  padding: 0 20px;
}

.projects__link,
.projects__code {
  font-family: Saira-Medium;
  padding: 5px 10px;
  color: white;
}

.projects__link,
.projects__code {
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border 250ms ease;

  text-decoration: none;
  margin-bottom: 10px;

  &:hover {
    border: 2px solid white;
  }

  &:visited {
    color: white;
    outline: none;
  }
}

/* ---------------------------------------- */
/* ---------------| BUTTON |--------------- */
/* ---------------------------------------- */

.card-button {
  position: relative;
  background: none;
  color: white;
  border: none;

  overflow: hidden;

  &:hover {
    .btn-span1,
    .btn-span2,
    .btn-span3,
    .btn-span4 {
      transform: translate3d(0px, 0px, 0px);
    }
  }

  // animated borders around the button
  .btn-span {
    transition: all 250ms ease;
    background: white;
    position: absolute;
  }

  .btn-span1 {
    transform: translate3d(-110%, 0px, 0px);
  }

  .btn-span3 {
    transform: translate3d(110%, 0px, 0px);
  }

  .btn-span2 {
    transform: translate3d(0px, -110%, 0px);
  }

  .btn-span4 {
    transform: translate3d(0px, 110%, 0px);
  }

  .btn-span1,
  .btn-span3 {
    transition-delay: 300ms;
    height: 2px;
    width: 100%;
  }

  .btn-span2,
  .btn-span4 {
    height: 100%;
    width: 2px;
  }

  .btn-span1,
  .btn-span2 {
    top: 0;
  }

  .btn-span1,
  .btn-span4 {
    left: 0;
  }

  .btn-span2,
  .btn-span3 {
    right: 0;
  }

  .btn-span3,
  .btn-span4 {
    bottom: 0;
  }
}

/* ------------------------------------------------ */
/* ---------------| WHITE BORDERDS |--------------- */
/* ------------------------------------------------ */

/* borders inside front and back card */
.border-span {
  transform: translateZ(5vw) scale(0.815);
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
}

.border-span1 {
  border: 2px solid white;
  border-bottom: none;
}

.border-span2,
.border-span3 {
  border-bottom: 2px solid white;
  width: 32.5%;
}

.border-span2 {
  left: 6.3%;
}

.border-span3 {
  right: 6.3%;
}

// skewed border behind each side of card
.skewed-border {
  transform: skew(-20deg, 20deg) translateZ(-2.5vw) scale(0.9);
  backface-visibility: hidden;
  border: 2px solid white;
  position: absolute;
  height: 100%;
  width: 100%;
  content: "";
  left: 0;
  top: 0;
}

/* ---------------------------------------------------------- */
/* ---------------| ANIMATED BORDERS ON BACK |--------------- */
/* ---------------------------------------------------------- */

.anim-span {
  transition: all 250ms ease;
  transition-delay: 250ms;

  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

.anim-span1,
.anim-span3 {
  height: 2px;
}

.anim-span2,
.anim-span4 {
  width: 2px;
}

.anim-span1 {
  transform: translateX(-75%) scaleX(0);
  left: 0;
  top: 0;
}

.anim-span2 {
  transform: translateY(75%) scaleY(0);
  left: 0;
  top: 0;
}

.anim-span3 {
  transform: translateX(75%) scaleX(0);
  bottom: 0;
  left: 0;
}

.anim-span4 {
  transform: translateY(-75%) scaleY(0);
  right: 0;
  top: 0;
}

/* --------------------------- */
/* -------| ANIMATION |------- */
/* --------------------------- */

@keyframes floating {
  100% {
    transform: translate3d(0px, 75px, 0);
  }
}
