.skills__container {
  position: relative;
  display: flex;

  user-select: none;
  cursor: default;

  padding: 200px 0;
  font-size: 16px;

  .bgText {
    position: absolute;
    display: flex;

    color: #077e46;
    left: 20%;
    top: 0;

    font-size: calc(24px + 10vw);
    font-family: Saira-Medium;
    pointer-events: none;
    user-select: none;

    span {
      animation: bounce 3s ease-in-out infinite alternate;
      text-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        animation-delay: 0.6s;
      }
      &:nth-child(5) {
        animation-delay: 0.8s;
      }
      &:nth-child(6) {
        animation-delay: 1s;
      }
    }
  }

  @keyframes bounce {
    100% {
      transform: translate3d(0, -80px, 0);
      text-shadow: 0 40px 20px rgba(0, 0, 0, 0.1);
    }
  }

  @keyframes floating {
    100% {
      transform: translate3d(0px, 75px, 0);
    }
  }

  .skills__item {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;

    .skills__content {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      background-color: $primary;
      border: 3px solid $fourth;
      position: relative;

      flex-direction: column;
      display: flex;
      height: 100%;
      width: 80%;

      min-width: 300px;

      z-index: 1;

      border-radius: 4px;
      padding: 60px 0;

      .shadow {
        background: rgba(0, 0, 0, 0.2);
        pointer-events: none;
        border-radius: 80%;
        position: absolute;
        filter: blur(5px);
        bottom: -80px;
        height: 20px;
        width: 90%;
        left: 5%;

        display: none;

        // width: 100%;
        // height: 100%;
      }
    }
  }

  h3 {
    margin-bottom: 40px;
    font-size: 24px;
    margin-top: 0;
  }

  ul {
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100%;

    pointer-events: none;

    &:hover li {
      opacity: 0.1;
    }

    li {
      justify-content: center;
      text-align: center;
      display: flex;

      transition: all 250ms ease;
      pointer-events: auto;
      white-space: nowrap;

      padding: 10px 0;
      min-width: 200px;
      width: 50%;

      border-bottom: 1px solid $fourth;
      border-top: 1px solid $fourth;

      &:hover {
        background: $fourth;
        width: 80%;
        opacity: 1;
        color: white;
      }

      &:first-of-type {
        border-top: none;
      }

      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
