.skills__container {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;

  user-select: none;
  cursor: default;

  padding: 100px 0;
  font-size: 15px;
}

.skills__item {
  justify-content: center;
  align-items: center;
  display: flex;

  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.skills__content {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: $primary;
  border: 3px solid $fourth;
  position: relative;

  flex-direction: column;
  display: flex;
  height: 100%;
  width: 85%;

  min-width: 250px;
  padding: 40px 0;

  z-index: 1;

  h3 {
    margin-bottom: 30px; // 75% from padding on .skills__content
    margin-top: 0;

    font-size: 24px;
  }
}

.skills__ul {
  flex-direction: column;
  align-items: center;
  align-self: center;
  display: flex;
  height: 100%;
  width: 65%;

  pointer-events: none;

  &:hover li {
    opacity: 0.1;
  }

  li {
    justify-content: center;
    text-align: center;
    display: flex;

    transition: color 250ms ease, opacity 250ms linear;
    pointer-events: auto;
    white-space: nowrap;

    padding: 12px 0;
    width: 100%;

    font-family: Saira-Medium;
    color: #777;

    &:hover {
      color: white;
      opacity: 1;
    }
  }
}

@media (max-width: 480px) {
  .skills__item {
    width: 100%;
  }
}

@media (min-width: 481px) {
  .skills__content {
    width: 400px;
  }
}

@media (min-width: 641px) {
  .skills__container {
    font-size: 16px;
  }

  .skills__content {
    width: 450px;

    h3 {
      font-size: 28px;
    }
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .skills__container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skills__item {
    width: auto;

    &:nth-child(2) {
      margin-right: 25px;
    }

    &:nth-child(3) {
      margin-left: 25px;
    }
  }

  .skills__content {
    max-width: 510px;
    width: 420px;
  }
}

@media (min-width: 1281px) {
  .skills__container {
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 200px 0;
  }

  .skills__item {
    margin-bottom: 0px;

    // middle skills item (Good)
    &:nth-child(3) {
      margin: 0 40px;
    }
  }

  .skills__content {
    padding: 60px 0;
    width: 380px;
  }

  .skills__ul {
    li {
      min-width: 200px;
    }
  }
}

@media (min-width: 1367px) {
  .skills__content {
    width: 410px;
  }
}

@media (min-width: 1441px) {
  .skills__content {
    width: 430px;
  }
}

@media (min-width: 1681px) {
  .skills__content {
    width: 510px;
  }
}

@media (min-width: 1769px) {
  .skills__item {
    &:nth-child(3) {
      margin: 0 80px;
    }
  }
}
