.timeline__container {
  position: relative;
  padding: 150px 0;

  justify-items: center;
  align-items: center;
  display: grid;
  z-index: 1;

  grid-template-rows: repeat(4, 1fr) auto;
  row-gap: 70px;

  &::before {
    background-color: lighten($fourth, 10%);
    height: 100%;
    width: 4px;

    position: absolute;
    content: "";

    bottom: 0;
    top: 0;
  }
}

.topShadow,
.botShadow {
  transform: translateX(-50%);
  position: absolute;
  content: "";

  height: 100px;
  width: 10px;
  left: 50%;

  z-index: 1;
}

.topShadow {
  background: linear-gradient($primary, rgba($primary, 0.75), transparent);
  top: -1px;
}

.botShadow {
  background: linear-gradient(transparent, rgba($primary, 0.75), $primary);
  bottom: -1px;
}

.timeline__item {
  position: relative;
  text-align: center;

  // padding: 0 40px;

  height: 100%;
  width: 85%;

  &::before {
    transform: translateX(-50%) translateY(-50%);
    border: 3px solid lighten($fourth, 10%);
    background-color: $primary;
    position: absolute;
    content: "";

    height: 20px;
    width: 20px;
    top: -35px;

    z-index: 1;
  }
}

.content {
  justify-content: center;
  flex-direction: column;
  display: flex;

  background-color: $primary;
  border: 3px solid $fourth;
  padding: 20px;

  height: 100%;
  width: 100%;

  transition: all 250ms ease;
  user-select: none;

  &:hover {
    background-color: $third;
    border: 3px solid $third;
  }

  p,
  .type {
    font-size: 16px;
    color: #777;
    margin: 0;
  }
}

.year {
  font-family: Saira-Bold;
  font-size: 18px;
}

.title {
  font-family: Saira-Medium;
  font-size: 18px;
  color: #777;
}

.companyTxt {
  display: block;
}

@media (min-width: 481px) {
  .timeline__item {
    width: 400px;
  }
}

@media (min-width: 641px) {
  .timeline__item {
    width: 450px;
  }
}

@media (min-width: 961px) {
  .timeline__container {
    padding: 100px 0;
    row-gap: 25px;
  }

  .timeline__item {
    transform: translateX(50%);
    position: relative;
    text-align: left;

    padding: 0px 40px;

    height: 100%;
    width: 485px;

    &::before {
      transform: translateX(-50%) translateY(-50%);
      border: 3px solid lighten($fourth, 10%);
      background-color: $primary;
      position: absolute;
      content: "";

      height: 20px;
      width: 20px;
      top: 50%;
    }

    &:nth-child(odd) {
      & .content {
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
      }

      &::before {
        left: 0;
      }
    }

    &:nth-child(even) {
      transform: translateX(-50%);
      text-align: right;

      & .content {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      }

      &::before {
        transform: translateX(50%) translateY(-50%);
        right: 0;
      }
    }
  }

  .content {
    padding: 20px 40px;
  }
}

@media (min-width: 1281px) {
  .timeline__item {
    width: 650px;
  }

  .companyTxt {
    display: inline;
  }
}

@media (min-width: 1367px) {
  .timeline__item {
    width: 695px;
  }
}

@media (min-width: 1441px) {
  .timeline__item {
    width: 725px;
  }
}

@media (min-width: 1681px) {
  .timeline__item {
    width: 845px;
  }
}

@media (min-width: 1769px) {
  .timeline__item {
    width: 885px;
  }
}
