$yellowTheme: rgb(255, 255, 110); // theme yellow
$redTheme: rgb(235, 75, 105); // theme red
$minWindowHeigh: 600px; // width for progress bars

$primary: rgb(32, 32, 32);
$secondary: rgb(18, 18, 18);
$third: rgb(24, 24, 24);
$fourth: rgb(42, 42, 42);
