$yellowTheme: rgb(255, 255, 110); // theme yellow
$redTheme: rgb(235, 75, 105); // theme red
$minWindowHeigh: 600px; // width for progress bars

// softwares
$gimp2: 85%;
$vegasPro: 70%;
$audacity: 65%;
$adobeAE: 52%;
$adobePS: 48%;

// prog lang
$HTML: 90%;
$JS: 85%;
$PHP: 70%;
$java: 60%;
$C: 55%;
$MySQL: 50%;

// tools and others
$git: 80%;
$wordPress: 70%;
$XAMPP: 60%;
$react: 60%;