@media screen(xl) {
  #portfolio-page {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: '';
      z-index: -1;

      width: 1px;
      left: 50%;

      background-image: linear-gradient(
        transparent,
        var(--theme-secondary),
        transparent
      );
    }

    /* A thin line in the middle of the page */
    &::before {
      bottom: -2rem;
      top: -2rem;

      background-image: linear-gradient(
        transparent -2rem,
        var(--theme-dark--bright),
        transparent calc(100% + 2rem)
      );
    }

    /* Slider following the line | "top" value controlled in keyframes */
    &::after {
      animation: slide 6s cubic-bezier(0.785, 0.135, 0.25, 0.75) infinite;
      height: 4rem;
    }
  }
}
