.disco-button {
  position: relative;
}

.disco-button svg {
  position: absolute;
  z-index: -1;

  height: 100%;
  width: 100%;

  left: 0;
  top: 0;

  & path {
    transition: all 200ms ease;
  }
}

.disco-button:hover {
  & svg path {
    fill-opacity: 0.12;
  }
}
