.disco-link {
  font-family: var(--theme-font--heading), sans-serif;
  font-size: var(--font-text--margot);
  text-transform: uppercase;
  font-weight: 600;

  position: relative;

  background-color: var(--theme-disco-background);
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #fff;

  transition: background-color 250ms ease;

  &.glowing {
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.2);
  }

  &.primary {
    background-color: var(--theme-primary--025);
    border: 1px solid var(--theme-primary--80);
    color: var(--theme-primary);

    &.glowing {
      box-shadow: 0 0 6px 0 var(--theme-primary--20);
    }
  }

  &.secondary {
    background-color: var(--theme-secondary--025);
    border: 1px solid var(--theme-secondary--80);
    color: var(--theme-secondary);

    &.glowing {
      box-shadow: 0 0 6px 0 var(--theme-secondary--20);
    }
  }
}

.disco-link:hover {
  background-color: rgba(255, 255, 255, 0.05);

  &.primary {
    background-color: var(--theme-primary--5);
  }

  &.secondary {
    background-color: var(--theme-secondary--5);
  }
}
