.disco-link {
  font-family: var(--theme-font--heading), sans-serif;
  font-size: var(--font-text--margot);
  text-transform: uppercase;
  font-weight: 600;

  position: relative;

  color: var(--theme-primary);

  &.blue {
    color: var(--theme-secondary);
  }
}

.disco-link svg {
  position: absolute;
  z-index: -1;

  height: 100%;
  width: 100%;

  left: 0;
  top: 0;

  & path {
    transition: all 200ms ease;

    fill: var(--theme-text--color);
    fill-opacity: 0.075;
  }
}

.disco-link:hover {
  & svg path {
    fill-opacity: 0.14;
  }
}
