@media screen(lg) {
  #about-who,
  #about-why,
  #about-what {
    gap: 2rem;
  }

  #about-why {
    grid-template-columns: 1.1fr 0.9fr;
  }

  #about-who,
  #about-what {
    grid-template-columns: 0.9fr 1.1fr;
  }

  #about-timeline {
    grid-template-columns: 1.2fr 0.8fr;
  }
}

@media screen(xl) {
  #about-who,
  #about-why,
  #about-what,
  #about-timeline {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  }
}
