.resume-container {
  & > a {
    & div:nth-child(1) {
      & > span {
        & > svg > circle {
          transition: stroke-dasharray 2s cubic-bezier(0.85, 0, 0.05, 1);
        }
      }
    }

    &:hover,
    &:focus {
      & div:nth-child(1) {
        & > span {
          animation-play-state: running;

          & > svg > circle {
            stroke-dasharray: 240;
          }
        }
      }
    }
  }
}
