.project-card__image {
  aspect-ratio: 480 / 300;
  user-select: none;

  &::before {
    position: absolute;
    z-index: -10;
    content: '';

    border-color: var(--theme-disco-border);
    border-radius: 0.25rem;
    border-width: 1px;

    background-color: var(--theme-disco-background);
  }

  & > img {
    box-shadow: 0 10px 30px -6px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
  }
}

.project-card__image:hover {
  & .project-card__cover {
    opacity: 0;
  }
}

.project-card__cover {
  background-color: var(--theme-card--backdrop);
  mix-blend-mode: multiply;

  transition: opacity 500ms;
  opacity: 1;

  position: absolute;
  bottom: 0.3125rem;
  right: 0.3125rem;
  left: 0.3125rem;
  top: 0.3125rem;

  z-index: 10;
}

.project-card__mobile-title {
  &::before {
    position: absolute;
    z-index: -1;
    content: '';

    background-image: linear-gradient(transparent, #000 140%);
    backdrop-filter: blur(2px);

    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}

@media screen(sm) {
  .project-card {
    position: relative;
  }
}

@media screen(lg) {
  .project-card {
    &:nth-child(even) > .project-card__content {
      align-items: flex-end;
      text-align: right;
      order: -1;
    }
  }

  .project-card__image {
    aspect-ratio: unset;

    &::before {
      bottom: -10%;
      right: 10%;
      left: 10%;
      top: -10%;
    }
  }
}

@media screen(xl) {
  .project-card__image {
    &::before {
      bottom: 12.5%;
      top: 12.5%;
      right: 0;
      left: 0;
    }
  }
}
