.wrapper {
  color: var(--theme-primary);
  position: relative;

  background-image: linear-gradient(
    to right,
    var(--theme-primary),
    var(--theme-primary)
  );

  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 0% 1px;

  transition: background 500ms cubic-bezier(0.25, 1, 0.35, 1);

  &:focus-visible,
  &:hover {
    background-size: 100% 1px;
  }
}
