.logo {
  background-image: url('/assets/images/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 40px;
  width: 40px;
}

.name {
  background-image: url('/assets/images/name.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 42px;
  width: 72px;

  margin-left: 0.8rem;
}

.nav-link {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0), 0 0 2px rgba(0, 0, 0, 0);
  transition: color 200ms ease, text-shadow 200ms ease;
  color: #fff;

  position: relative;

  &::after {
    box-shadow: 0 0 2px 1px var(--theme-primary--80);
    background: var(--theme-primary);

    position: absolute;
    content: '';

    right: calc(100% + 0.625rem);
    border-radius: 4px;
    height: 4px;
    width: 4px;
    top: 50%;

    transform: scale(0) translateY(-50%);
    transform-origin: top;

    transition: transform 600ms ease;
  }

  &.active {
    text-shadow: 0 0 1px var(--theme-secondary),
      0 0 2px var(--theme-secondary--40);
    color: var(--theme-secondary);

    &::after {
      transform: scale(1) translateY(-50%);
    }
  }

  &:not(.active):hover {
    color: var(--theme-dark--brightest);
  }
}

.separator {
  position: relative;
  height: 3px;
  width: 3px;

  background-color: #fff;

  &::before,
  &::after {
    position: absolute;
    content: '';

    background-color: inherit;
    height: inherit;
    width: inherit;
  }

  &::before {
    right: 0.5rem;
  }

  &::after {
    left: 0.5rem;
  }
}
