/* Home page - resume icon circle */

@keyframes spin-resume {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Home page - resume icon arrows */

@keyframes arrows-fade {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

/* Home page - disco circles */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Portfolio page - separator in the middle of the page */

@keyframes slide {
  0% {
    opacity: 0;
    top: 4rem;
  }

  40% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    top: calc(100% - 4rem);
    opacity: 0;
  }
}
