html {
  overflow-x: hidden;

  scrollbar-color: var(--theme-dark) var(--theme-disco-background);
  scrollbar-width: thin;
}

body {
  font-family: var(--theme-font--reading);
  color: var(--theme-text--color);
  width: 100vw;

  background-color: var(--theme-main-background);
  /* background-image: url('/assets/images/funny-circle.svg'),
    radial-gradient(100% 185% at 100% 0%, #313b4d 0%, #242c3a 40%, #1a1f28 100%); */
  background-image: url('/assets/images/funny-circle.svg'),
    url('/assets/images/noisy-50.png');

  background-position: bottom left;
  background-attachment: fixed;
  background-repeat: no-repeat, repeat;
  background-size: cover, 200px;

  /* background-image: url('/assets/images/funny-circle.svg'),
    radial-gradient(
      105% 185% at 105% -5%,
      #303f5a 0%,
      #232d3f 40%,
      #0f1117 100%
    ); */
}

html,
body,
#__next,
main {
  flex-direction: column;
  display: flex;
  flex: 1;

  min-height: 100%;
}

#__next {
  overflow: hidden;
}

#disco-bg {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;

  width: 100vw;

  /* https://angrytools.com/gradient/ */
  background-image: radial-gradient(
    320% 600% at 63.5% 48%,
    rgba(128, 213, 255, 0.125) 0%,
    rgba(128, 213, 255, 0.1) 2%,
    rgba(128, 213, 255, 0.075) 4%,
    rgba(128, 213, 255, 0.04) 7%,
    rgba(0, 0, 0, 0) 14%
  );

  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -99999;

  opacity: 0.85;
}

:not(input):not(textarea) {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--theme-disco-background);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--theme-dark);

    &:hover {
      background: var(--theme-dark--bright);
    }
  }
}

#footer {
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    content: '';

    height: 1px;
    right: 0;
    left: 0;
    top: 0;

    background: linear-gradient(
      90deg,
      transparent 25%,
      var(--theme-text--color-50),
      transparent 75%
    );
  }
}
