:root {
  /* ------------------------------------------ */
  /* ----| Primary color and its variants |---- */
  /* ------------------------------------------ */

  --theme-primary: #ffcc66;
  --theme-primary--variant: #ffae57;

  --theme-primary--20: rgba(255, 204, 102, 0.2);
  --theme-primary--40: rgba(255, 204, 102, 0.4);
  --theme-primary--60: rgba(255, 204, 102, 0.6);
  --theme-primary--80: rgba(255, 204, 102, 0.8);

  /* -------------------------------------------- */
  /* ----| Secondary color and its variants |---- */
  /* -------------------------------------------- */

  --theme-secondary: #80d4ff;
  --theme-secondary--variant: #5ccfe6;

  --theme-secondary--20: rgba(128, 212, 255, 0.2);
  --theme-secondary--40: rgba(128, 212, 255, 0.4);
  --theme-secondary--60: rgba(128, 212, 255, 0.6);
  --theme-secondary--80: rgba(128, 212, 255, 0.8);

  /* ------------------------------------------- */
  /* ----| Tertiary color and its variants |---- */
  /* ------------------------------------------- */

  --theme-tertiary: #bae67e;
  --theme-tertiary--variant: #cc6e91;

  --theme-tertiary--20: rgba(186, 230, 126, 0.2);
  --theme-tertiary--40: rgba(186, 230, 126, 0.4);
  --theme-tertiary--60: rgba(186, 230, 126, 0.6);
  --theme-tertiary--80: rgba(186, 230, 126, 0.8);

  /* --------------------------------------- */
  /* ----| Dark color and its variants |---- */
  /* --------------------------------------- */

  --theme-dark: #212733;
  --theme-dark--variant: #1a1f28;

  --theme-dark--bright: #343e50;
  --theme-dark--bright-30: rgba(52, 62, 80, 0.3);

  --theme-dark--brightest: #98a4bc;

  /* -------------------------------------------- */
  /* ----| Text color, text selection, etc. |---- */
  /* -------------------------------------------- */

  --theme-text--color: #7a8ba9;
  --theme-text--color-30: rgba(122, 139, 169, 0.3);
  --theme-text--color-50: rgba(122, 139, 169, 0.5);

  --theme-text--selection: #bacff5;

  /* -------------------------------- */
  /* ----| Fonts and typograpgy |---- */
  /* -------------------------------- */

  --theme-font--reading: 'Hind Madurai', sans-serif;
  --theme-font--heading: 'Kanit', sans-serif;

  --font-unit: 1rem;
  --font-text: var(--font-unit); /* 16px */

  --font-text--fat: calc(var(--font-unit) * 1.5); /* 24px */
  --font-text--xxl: calc(var(--font-unit) * 1.375); /* 22px */
  --font-text--xl: calc(var(--font-unit) * 1.25); /* 20px */
  --font-text--lg: calc(var(--font-unit) * 1.125); /* 18px */

  --font-text--md: calc(var(--font-unit) * 0.9375); /* 15px */
  --font-text--sm: calc(var(--font-unit) * 0.875); /* 14px */
  --font-text--xs: calc(var(--font-unit) * 0.8125); /* 13px */
  --font-text--xxs: calc(var(--font-unit) * 0.75); /* 12px */

  /* ---------------------------------------- */
  /* ----| Position, display and layout |---- */
  /* ---------------------------------------- */

  --theme-main-background: var(--theme-dark);
  --theme-disco-background: var(--theme-dark--bright-30);
  --theme-disco-border: var(--theme-text--color-30);

  --z-index-home-placeholder: -99;

  --z-index-mobile-nav: 99;
  --z-index-main-nav: 99;

  --z-index-hamburger: 777;
  --z-index-loader: 999;
  --z-index-modal: 888;
}
