.navigation__container {
  z-index: var(--z-index-main-nav);
  position: fixed;
  left: 0;
  top: 0;

  max-width: 100vw;
  width: 100vw;

  box-shadow: 0px 12px 16px -10px rgba(0, 0, 0, 0);
  transition: box-shadow 500ms ease;

  &::before,
  &::after {
    position: absolute;
    content: '';

    width: 100vw;
    bottom: 0;
    left: 0;

    z-index: -1;
  }

  &::before {
    background-color: hsla(230, 25%, 10%, 0.85);
    backdrop-filter: blur(8px);
    opacity: 0;
    top: 0;

    transition: opacity 500ms;
  }

  &::after {
    background-color: var(--theme-disco-border);
    height: 1px;

    transition: transform 500ms cubic-bezier(0.9, 0.2, 0.4, 1);
    transform-origin: right;
    transform: scaleX(0);
  }

  & > .navigation__bg {
    background-image: radial-gradient(
        320% 1500% at 63.5% 48%,
        rgba(128, 213, 255, 0.125) 0%,
        rgba(128, 213, 255, 0.1) 2%,
        rgba(128, 213, 255, 0.075) 4%,
        rgba(128, 213, 255, 0.04) 7%,
        rgba(0, 0, 0, 0) 14%
      ),
      url('/assets/images/noisy-50.png');

    background-repeat: no-repeat, repeat;
    background-size: contain, 200px;

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100vw;

    z-index: -1;
    opacity: 0;

    transition: opacity 500ms;
  }
}

.scroll .navigation__container {
  box-shadow: 0px 12px 16px -10px rgba(0, 0, 0, 0.125);

  & > .navigation__bg {
    opacity: 0.85; /* Same as background's radial gradient */
  }

  &::before {
    opacity: 1;
  }

  &::after {
    transition: transform 800ms cubic-bezier(0.4, 0.9, 0.05, 1);
    transform-origin: left;
    transform: scaleX(1);
  }
}

.navigation__logo {
  background-image: url('/assets/images/logo_bodwars.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 24px;
  width: 24px;
}

.navigation__link {
  transition: color 300ms ease, text-shadow 300ms ease, margin-right 300ms ease;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0), 0 0 2px rgba(0, 0, 0, 0);
  color: #fff;

  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: '';
    z-index: -1;

    width: 0.25rem;
    bottom: 0;
    top: 0;

    transition: transform 800ms cubic-bezier(0.175, 0.885, 0.35, 1.1),
      opacity 300ms;
    opacity: 0;

    display: none;
  }

  &::before {
    border: 1px solid var(--theme-primary);
    border-left: none;
    right: -1rem;

    transform: translateX(1rem);
  }

  &::after {
    border: 1px solid var(--theme-primary);
    border-right: none;
    left: -1rem;

    transform: translateX(-1rem);
  }

  &--active {
    &::after,
    &::before {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &:not(&--active):hover {
    & .navigation__link-underline {
      background-size: 100% 1px;
    }
  }
}

.navigation__link-underline {
  position: absolute;

  bottom: -1px;
  right: 0;
  left: 0;

  height: 1px;

  --first-line-width: 8px;

  background-image: linear-gradient(
    to right,
    #fff var(--first-line-width),
    transparent var(--first-line-width),
    transparent calc(var(--first-line-width) + 4px),
    #fff calc(var(--first-line-width) + 4px)
  );

  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0% 1px;

  transition: background-size 500ms cubic-bezier(0.25, 1, 0.35, 1);
}

.navigation__link--active .navigation__link-underline {
  background-size: 100% 1px;
}

.navigation__contact-button {
  padding: 0.6rem 1.25rem;
  text-transform: uppercase;
  color: var(--theme-dark--bright);
  color: #fff;
  border-radius: 0.25rem;

  background-color: var(--theme-disco-background);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.25);
  /* filter: drop-shadow(0 0 4px rgba(255, 255, 255, 0.2)); */

  font-weight: 500;

  font-size: 11px;

  position: relative;

  &::after,
  &::before {
    position: absolute;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.mobile-navigation__menu {
  position: relative;
  height: 1.5rem;

  justify-content: center;
  align-items: center;
  display: flex;

  & > span:not(.disco-kebab) {
    font-size: var(--font-text--sm);
    font-weight: 500;
  }
}

.mobile-navigation__kebab {
  position: relative;
  align-items: center;
  display: flex;

  & > span {
    height: 0.25rem;
    width: 0.25rem;
    display: block;

    background-color: #fff;
    border-radius: 50%;

    &:not(:nth-child(1)) {
      margin-left: 0.25rem;
    }

    &:nth-child(2) {
      height: 0.375rem;
      width: 0.375rem;
    }
  }
}

.mobile-navigation__links-container {
  background-color: var(--theme-dark--variant);
  position: fixed;
  width: 100vw;
  height: 100%;

  z-index: var(--z-index-mobile-nav);

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

  background: inherit;
  background-image: none;
}

.mobile-navigation__links-wrapper {
  flex-direction: column;
  margin-left: auto;
  display: flex;
}

.mobile-navigation__nav-link {
  position: relative;

  & ~ .mobile-navigation__nav-link {
    border-top: 1px solid var(--theme-dark--bright);
  }

  &::after {
    transition: all 600ms cubic-bezier(0.075, 0.8, 0.1, 1);
    transform-origin: right;
    transform: scaleX(0);

    position: absolute;
    content: '';

    background-color: #fff;
    width: 1.25rem;
    height: 1px;

    right: 0.5rem;
    top: 50%;
  }

  &--active {
    &::after {
      transform: scaleX(1);
    }
  }
}

.mobile-navigation__links-close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1rem;

  align-items: center;
  display: flex;

  font-size: var(--font-text--sm);
  font-weight: 500;
}

@media screen(sm) {
  .navigation__container {
    .go-go-gadget {
      transition: height 600ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
      display: flex;
      height: 1rem;
    }
  }
}

.scroll .go-go-gadget {
  height: 0;
}
